SOURCE_DB_HOST=localhost
SOURCE_DB_PORT=5432
SOURCE_DB_NAME=oltp_financeiro_comercial
SOURCE_DB_USER=seu_usuario
SOURCE_DB_PASSWORD=sua_senha

SOURCE_SYSTEM_NAME=OLTP_FINANCEIRO_COMERCIAL

DW_DB_HOST=localhost
DW_DB_PORT=5432
DW_DB_NAME=dw_financeiro_comercial
DW_DB_USER=seu_usuario
DW_DB_PASSWORD=sua_senha

STAGE_SCHEMA=Stage
PROD_SCHEMA=Produção

ENVIRONMENT=PRODUCAO
ENTITIES_CONFIG=config/entities.yml
LOG_LEVEL=INFO

POWERBI_REFRESH_ENABLED=false
POWERBI_TENANT_ID=
POWERBI_CLIENT_ID=
POWERBI_CLIENT_SECRET=
POWERBI_WORKSPACE_ID=
POWERBI_DATASET_ID=